body{
 background-color:black;
}
h2{
 color:orange;
}
a{
 color:white;
}
a:hover{
  color:orange;
}
.about h1, h2{
  color:orange;
}
.about{
  margin-left:20%;
}
.about h2, p{
   margin-left:10%;
   color:orange;
}
h1{	
 color:orange;
}